h2{
    color: rgb(57, 57, 218);
    background-color: rgb(131, 160, 253);
}
.bld{
    font-weight: bold;
}
.num{
    color: rgb(54, 54, 206);
    font-weight: bold;
}
.num2{
    color: rgb(57, 57, 218);
}